<div class="card mat-card">
    <div class="row">    
        <div class="col-sm-12">

            <div class="card-title">
                <div class="card-body">
                    <h2 class="my-4"> <i class="fas fa-certificate"></i> Educación</h2>
                    <div class="btn-edit" style="float: right; margin-right: 25px"><a href="#" class="btn-right"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                
                         <ul>
                            <li *ngFor="let education of educationList">
                                <h5> {{education.school}} </h5>
                                <p>{{education.degree}}</p>
                                <h6><i class="fas fa-calendar my-2 mx-2"></i> 
                                <time>{{education.start}}</time>   - <time>{{education.end}}</time> </h6>
                            <hr>
                            </li>
                        
                        </ul> 
                    </div>
                    
            </div>

        </div>
    </div>
</div>