<div class="card mat-card">
    <div class="row">
        <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-7 info">
            <h2>Mi repositorio de proyectos</h2>
            
                <h3>Mi portfolio</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam dolorem consequuntur esse. Est iure dolore alias labore maiores repudiandae corporis doloribus, quisquam ratione? Aut magni omnis nostrum quia officiis ipsa?
                    </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
                <img src="../../../assets/Portfolio.png" class="img-fluid" alt="">

            </div>

        </div>
    </div>
</div>