.card-body {
    font-family: sans-serif;
    color: black;
}

.mat-card {
    border-radius: 32px;
    margin: 15px 15px;
    padding: 20px;
    border-color: rgb(19, 152, 41);
}

.mat-card#first-card {
    padding: 1;
}

div#profile-background {
    display: flex;
    z-index: 1;
}

div#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -110px;
    z-index: 1;
    display: block;
}