
<header>
    <div class="container-fluid g-1 bg-success">
        <div class="d-flex align-items-center ">
            <a>
                <img src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1661403264/APLogo-20-20.png"
                    width="15%">
            </a>

            <div class=" col text-end ">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning me-2">Sign-up</button>
            </div>
        </div>
    </div>
</header>