
<header>
    <div class="row justify-content-between">
        <div class="container g-1 bg-success">
            <div class="col-4 logo ">
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1666227203/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" id="Logo">
            </div>     
            <div class="col-4 rrss ">
                <a href=""><img src="../../../../assets/linkedin.png" alt="linkedin"></a>
                <a href=""><img src="../../../../assets/github.png" alt="github"></a>
                <a href=""><img src="../../../../assets/twitter.png" alt="twitter"></a>
            </div>   
            <div class="col-4 button ">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning me-2">Sign-up</button>
            </div>
            


        </div>
    </div>
</header>
